<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/style.css" >
  </head>
  <body class="homepage">
		<div id="page-wrapper">
			<!-- Header -->
				<div id="header">

					<!-- Inner -->
<div class="inner">
			<header>
								<h1 id="white-title"><span>
                  <a href="index.html" id="logo">Hatch your Hobby</a>
                  </span></h1>
                <div class="egg">
                  <p id="subtitle">Find what you're passionate about by clicking on the bouncing egg! </p>
                <a href="/quiz"><img id ="bouncer" src="https://rebekahlang.files.wordpress.com/2015/08/pokemon-egg-gif.gif" alt=""></a>
                 <h2 id="start_w"> Start! </h2>

                </div>
							</header>
<!-- 							<footer>
								<a href="#banner" class="button circled scrolly">Start</a>
							</footer> -->
						</div>



				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>What are you <strong>passionate</strong> about?</h2>
						<p>
						Use this super easy and fast quiz to find out your future possible hobby.
						</p>
					</header>
				</section>

<!-- 			<!-- Carousel -->
				<section class="carousel">
        <div class="together">
						<article id="pic_1">
							<a href="#" class="image featured"><img src="http://i1144.photobucket.com/albums/o492/aatenahasan/do%20what%20you%20love.jpg" alt="" /></a>
							<header>
								<h3><a href="#">What's our goal?</a></h3>
							</header>
							<p>There's nothing greater than the joy in doing what you love. And we're here to help you find that.</p>
						</article>

						<article id="pic_2">
							<a href="#" class="image featured"><img src="http://i1144.photobucket.com/albums/o492/aatenahasan/hobby.png" alt="" /></a>
							<header>
								<h3>Just found your hobby? </a></h3>
							</header>
              <p>Click <a href="https://en.wikipedia.org/wiki/List_of_hobbies"><strong>here</a></strong> to find out more about what you got. Or if you just want to check out others!</p>
						</article>

						<article id="pic_3">
							<a href="/about" class="image featured"><img src="http://i1144.photobucket.com/albums/o492/aatenahasan/kwk_logo.png" alt="" /></a>
							<header>
								<h3><a href="/about" alt="">About Us</a></h3>
							</header>
							<p>This page was brought to life by three girls who've learnt to code from Kode with Klossy.</p>
						</article>

      </section>
      </div>
 -->


								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.onvisible.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="asjs/main.js"></script>

	</body>
</html>
