<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Quiz!</title>
  </head>
  <body>
    <center>
    <form id="my-form" method="post" action="/results">
      <section id="womp">
       <div id="question_1">

        <h3> Are you an indoor or outdoor person?</h3>
        <label for="indoor"> Indoors </label>
        <input id="indoor" type="radio" name="outside" value=100>
        <label> Outdoors </label>
        <input type="radio" name="outside" value=207>
      </div>
    </section>

    <section id="womp2">
      <div id="question_2"><!--question 2-->
        <h3> What's your favorite subject?</h3>
        <label> Math </label>
        <input type="radio" name="subject" value=5>
        <label> English </label>
        <input type="radio" name="subject" value=15>
        <label> History </label>
        <input type="radio" name="subject" value=25>
        <label> Science </label>
        <input type="radio" name="subject" value=35>
        <label> P.E. </label>
        <input type="radio" name="subject" value=45>
      </div>
    </section>


    <section id="womp3">
      <div id="picture_3"> <!--question 3--->
       <h3> What's your personality like? </h3>
       <label> Lazy </label>
       <input type="radio" name="personality" value=300>
       <label> Adventurous </label>
       <input type="radio" name="personality" value=400>
       <label> Logical </label>
       <input type="radio" name="personality" value=500>
       <label> Artsy </label>
       <input type="radio" name="personality" value=600>
           <br><br>
      </div>
    </section>
      <input type="submit" value="submit">
  </form>
      <div id="eggs">
   <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      <img src="http://orig08.deviantart.net/f494/f/2015/119/3/d/bouncy_poke_egg_sprite__f2u__by_tinyorcapup-d8ri97m.gif">
      </div>
    </center>
  </body>
</html>

