<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/results.css">
    <title>Results!</title>
  </head>

  <body>
  <div class="container">
		<h1>YOUR HOBBY IS...</h1>
    <ul>
      <li id="result-thang" style="list-style-type: none"><%= @hobby_list.sample%></li>
    </ul>
    </div>
  </body>
</html>
